@page
@model Magazine20056663.Pages.MagazineTest.IndexModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Inspiring Magazines</title>
</head>
<body>
    <table>
        <tr>
            <th>Magazine ID</th>
            <th>Magazine Name</th>
            <th>Price per issue</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Scientific American</td>
            <td>$6.50</td>
        </tr>
        <tr>
            <td>2</td>
            <td>New Scientist </td>
            <td>$6.00</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Reader’s Digest</td>
            <td>$5.00</td>
        </tr>
        <tr>
            <td>4</td>
            <td>National Geographic</td>
            <td>$7.00</td>
        </tr>
    </table>
</body>
</html>